/* Class utility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.display {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer;
}
/* End Class utility */
body {
  font-family: 'Roboto', 'Arial', sans-serif;
}
.container {
  width: 1280px;
  border: 1px solid black;
  height: 100vh;
  margin: auto;
  position: relative;
}

nav {
  /* background-color: red; */
  /* height: 128px; */
  width: 1280px;
  line-height: 48px;
  padding: 40px 0;
}

#logo {
  width: 40px;
  height: 48px;
  border: 1px solid black;
}

#nav-left {
  /* width: 213.466px; */
  /* background-color: green; */
  height: 48px;
  /* border: 1px solid black; */
}

#nav-left ul li:first-child {
  color: black;
}


#nav-right {
  /* background-color: green; */
  height: 48px;
  /* border: 1px solid black; */
}

#buttons {
  padding: 0 0 0 20px;
}

#buttons button {
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', 'Arial', sans-serif;
}

#buttons button:first-child {
  margin: 0 10px;
  /* background-color: #f0f0f0; */
}

#buttons button:last-child {
  background-color: #191c1f;
  color: #ffffff;
}

li.tent {
  /* border: 1px solid black; */
}

li {
  list-style: none;
  display: inline-block;
  line-height: 48px;
  padding: 0 19.2px;
  color: #8c8d96;
}

.box-content {
  width: 1050px;
  height: 316px;
  /* border: 1px solid black; */
  position: absolute;
  top: 88px;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  border-radius: 8px;
  padding: 24px 12px 12px 8px;
}

.sub-content {
  width: calc(100% / 4);
  border: 1px solid black;
  height: 100%;
  padding: 0 19.2px;
}
