* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: roboto;
}

nav {
  background-color: red;
  height: 88px;
  width: 1280px;
  margin: auto;
}

#nav-left {
  width: 213.466px;
  background-color: green;
  float: left;
  height: 88px;
  border: 1px solid black;
}

#nav-right {
  width: 672px;
  background-color: green;
  float: right;
  height: 88px;
  border: 1px solid black;
}

#logo {
  width: 60px;
  height: 88px;
  border: 1px solid black;
  float: left;
}
